.nav {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 30px;
}

.main {
  color: var(--secondary-text-color);
}

.accent {
  color: var(--accent-color);
  text-decoration: underline;
}

.link:hover {
  color: var(--accent-hover-color);
}
